<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="config.properties"/>
    <property name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <param name="file" value="${catalina.base}/logs/info.log"/>
        <param name="Encoding" value="UTF-8" />
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <param name="file" value="${catalina.base}/logs/error.log"/>
        <param name="Encoding" value="UTF-8" />
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>
    <appender name="a" class="ch.qos.logback.core.rolling.RollingFileAppender">
       <File>./log/mylog_a_info.log</File>
       <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <FileNamePattern>./log/mylog_a_info.%i.log</FileNamePattern>    
         <MinIndex>1</MinIndex>    
         <MaxIndex>5</MaxIndex>    
       </rollingPolicy>  
       <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
         <MaxFileSize>5MB</MaxFileSize>    
       </triggeringPolicy>  
       <layout class="ch.qos.logback.classic.PatternLayout">  
        <Pattern>%date [%thread] %-5level %logger{80} - %msg%n</Pattern>    
       </layout>  
    </appender>
    <!-- <appender name="mail" class="ch.qos.logback.classic.net.SMTPAppender">
        <bufferSize>512</bufferSize>
        <SMTPHost>mta1.corp.qunar.com</SMTPHost>
        <username>asp_monitor_system</username>
        <password>tzmm.987</password>
        <From>asp_monitor_system@qunar.com</From>
        <To>asp_public_alert@qunar.com</To>
        <subject>[${log.env}-CRM]%logger{20} - %m</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>%d%p%thread%logger%X{sys}%X{env}%X{caller}%X{trackId}%msg</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender> -->
	<logger name="net.begincode.web.test.controller">
		<appender-ref ref="a" />
	</logger>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="info"/>
        <appender-ref ref="error"/>
    </root>
</configuration>