<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
 		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
 		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd




        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 启用自定义AuthPassport 注解 -->
    <mvc:interceptors>
        <!-- 如果不定义 mvc:mapping path 将拦截所有的URL请求 -->
        <bean class="net.begincode.core.support.AuthInterceptor"></bean>
    </mvc:interceptors>


    <bean id="mappingJackson2HttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper" ref="customerObjectMapper"></property>
    </bean>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <ref bean="mappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--<bean id="customerObjectMapper" class="net.begincode.aspect.CustomerObjectMapper"></bean>-->

    <!-- 启用spring mvc 注解 -->
    <context:component-scan base-package="net.begincode"/>
    <aop:aspectj-autoproxy/>

    <!-- 资源文件 定义，不拦截 -->
    <mvc:resources mapping="/**" location="/"/>

    <!-- 配置JSP视图 -->
    <bean id="internalResourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/page/"/>
        <property name="suffix" value=".jsp"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="order" value="1"/>
    </bean>
    <!-- 上传最大限制 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20971520"/>
    </bean>



</beans>